#body {
    text-align:center;
    margin-left:50px;   
    margin-right:50px;
    margin: 1px;
    font-family: UWR Chancery L;
    color: rgb(45, 51, 124);
    font-size: 48px;
    -webkit-text-stroke: 1px black; 
}

body {
    margin: 0px;
    background-color:rgb(239, 194, 70);
}

header {
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.p{
  margin-top: 50px;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  color: white;
}

.roster-container {
    justify-content: space-between;
    margin: 0 100px; /* optional padding on sides */
    display: flex;
}

.heading {
    font-size: 25px;
    font-family: cursive;
    color: white;
    margin-bottom: 5px;
    text-decoration: underline;
}

.roster-container li {
  color: rgb(45, 51, 124);
  font-size: 25px;
  width: auto;
}

.leaders{
  text-align: center;
  width: 30%;

}

.header h1 {
  margin: 0 20px;
  font-size: 2rem;
  font-weight: bold;
}

.logo{
  height: 120px;
  width: auto;
  margin-left: 100px;
  display: fixed;
}

.image{
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  width: auto;
  height: 300px
}

.media{
  margin-left: 50px;
  margin-right:50px;
  align-items: center;
  margin-top: 70px;
  border: 2px solid black;
  width: 26%;
  height: 300px
}

.button:active{
    transform: translateY(3px); 
    box-shadow: 0px 2px 0px #0056b3;
}
.link{
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  text-align: center ;/* Position the navbar at the top of the page */
  background-color: rgb(45, 51, 124);
  width: 100%;
}

/* .anchor-content{
  position: fixed;
  height: 200px;

} */
/* Links inside the navbar */
.navbar a {
  display: inline-block;
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

ul {list-style-type: none;}

/* Month header */
.month {
  padding: 20px 10px;
  background: #333;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays{
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 0;
  margin-top: 0px;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin-left: 200px;
  margin-right: 200px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  font-size:20px;
  color: #777;
  height: 65px;
}

.fa-instagram{
  font-size: 50px;
  color: black;

}

.fa-facebook{
  font-size: 50px;
  color: black;

}

.fa-youtube{
  font-size: 50px;
  color: black;

}

.icons{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
}