/* Arcade font style */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    /* Imports a speical font family that gives the text and more arcade-like feel */
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(33, 33, 45, 0.746);
    color: #7c0827;

    /* Adds the background image that applies to the entire website */
    background-image: url("photos_and_SVGS/space-background.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
}

/* Styles the "ASTEROIDS! h1 at the top of the screen */
h1 {
  text-shadow: 0 0 10px #0f98e1e6, 0 0 20px #ffd500;
  letter-spacing: 3px;
}

.header{
    font-size: 40px;
    color: rgb(225, 245, 0);
    font-family: fantasy;
    text-align: center;
    margin-bottom: 0px;
}

/* Moves the whole game area to the center of the screen */
.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

/* Sylizes the timer which acts as the score for this game */
#timerDisplay{
    font-size: 30px;
    color: red; 
    text-align: center;
    padding-top: 0px;
    vertical-align: top;
}

/* Stylizes the popup itself which displays the instructions and the loosing message */
#popup-overlay {
    display: flex;
    justify-content: center;    
    align-items: center;         
    visibility: visible;         
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;  
    background-color: rgb(20, 20, 20, 0.95);
    border: 2px solid #00ffff;
    box-shadow: 0 0 20px #00ffff;
    padding: 30px;
}

/* Stylizes the content of the popup itself */
#instruction-popup {
    background: radial-gradient(circle at center, #111 0%, #000 100%);
    color: #0bf139;
    border: 3px solid #00ffff;
    font-size: 12px;
    letter-spacing: 1px;
}

/* Styling for the button which starts the game */
button {
    background: linear-gradient(90deg, #0c04ae, #07b7f1);
    border: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Sylizes the restart button */
#restart_button {
    visibility: hidden;         
    
    position: absolute;      
    top: 80%;                 
    left: 50%;                 
    z-index: 100000;           
    background: linear-gradient(90deg, #0c04ae, #07b7f1);
    border: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    border-radius: 8px;
}

#game_over{
    visibility: hidden;
}